body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
}

nav {
    background-color: #333;
    color: #fff;
}

h1 {
    color: #ff0000;
}

#text {
    border: #333 solid 1px;
    padding: 10px;
    margin: 10px;
    float: left;
    width: 50%;
}

span.vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    display: inline-block;
    float: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 1.5em;
    color: #ff0000;
}
